*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

body {
  margin: 0;
  padding: 60px 20px 20px 20px;
  font-family: 'Orbitron', sans-serif;
  background-color: #cdd9e0;
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  background: #000 url('../images/sneakers-black-and-white.jpg') no-repeat 50% 50% fixed;
}

li {
  list-style: none;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px;

  background-color: rgba(244, 248, 240, 0.61);
}

.gallery__item {
  width: 380px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 2px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.gallery__img {
  width: 380px;
  height: 250px;
}

.stats {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.stats-item {
  display: flex;
  align-items: center;
}

.stats-item:not(:last-child) {
  margin-right: 12px;
}

.material-icons {
  margin-right: 5px;
}

.js-input {
  margin-bottom: 35px;
  padding: 0 20px;
  height: 40px;
  min-width: 300px;
  border-radius: 10px;
  border: transparent;
  outline: none;
  box-shadow: 1px 1px 2px black;
  font-size: 20px;
}

.button-css {
  cursor: pointer;
  margin-bottom: 35px;
  padding: 0 40px;
  height: 40px;
  border-radius: 10px;
  border: transparent;
  outline: none;
  box-shadow: 1px 1px 2px black;
  background-color: rgb(224, 224, 224);
  font-size: 20px;
}

.spinner {
  margin-right: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button:not(:last-child) {
  margin-right: 20px;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

.buttons {
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
}

.clear.is-hidden {
  display: none;
}
